@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #e8b58e, #b47545);
    font-family: 'Courier New', Courier, monospace;
    color: #332820;
    text-align: center;
    display: block;
    border: 3px solid #332820;
    border-radius: 0%;
}

.menu1{
    background-image: linear-gradient(to bottom, #827265, #332820);
    color: white;
    text-shadow: 2px 2px 2px black;
}
div{
    background-color: #332820;
    display: inline-block;
    border:3px solid black;
    color: #E89758;
    font-weight: bolder;
    text-align: center;
    height: 50px;
    width: 100px;
    border-style: groove;
    border-radius: 15%;
}
div:hover{
    background-color: #827265;
    color: #332820;
}
.destaqueparagrafo{
    font-weight: bolder;
}
.pagina1{
    color: #e1e1e1;
    text-shadow: 2px 2px rgb(9, 17, 47);
    background-image: linear-gradient(to bottom, #3d362f, #e7e7e7);
}
.pagina2{
    color: #ffae74;
    text-shadow: 3px 3px black;
    background-image: linear-gradient(to top, #827265, #332820);
}
.pagina3{
    color: #f5f5f5;
    text-shadow: 3px 3px black;
    background-image: linear-gradient(to top, #827265, #332820);
}
#link{
    color: rgb(241, 6, 6);
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
    background-image: linear-gradient(to bottom, rgb(7, 79, 82), rgb(82, 76, 76));
    margin: auto;
    display: flow-root;
}
#link:hover{
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px 5px white;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, rgb(13, 2, 50), rgb(115, 3, 243));
    margin: auto;
    display: flow-root;
}
.olamundo{
    background-image: linear-gradient(to right, rgb(115, 3, 243), rgb(13, 2, 50));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e4e4e4;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    display: inline-table;
    border: 1px solid #332820;
    border-radius: 5%;
}
.menuola{
    background-image: linear-gradient(to top, #04046b, #5b0bee);
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}